In [63]:
import yfinance as yf
import pandas as pd
import pytrends 
import datetime as dt

In [64]:
ticker = input("Please Enter the Ticker of the Stock you would like to gather information on:")

Please Enter the Ticker of the Stock you would like to gather information on:BHP

In [65]:
stock = yf.Ticker(ticker)

In [66]:
stock.info

{'zip': '3000',
 'sector': 'Basic Materials',
 'fullTimeEmployees': 45295,
 'longBusinessSummary': 'BHP Group Limited operates as a resources company in Australia, Europe, China, Japan, India, South Korea, the rest of Asia, North America, South America, and internationally. The company operates through Copper, Iron Ore, and Coal segments. It engages in the mining of copper, silver, zinc, molybdenum, uranium, gold, iron ore, and metallurgical and energy coal. The company is also involved in mining, smelting, and refining of nickel; and potash development activities. In addition, it provides towing, freight, marketing and trading, marketing support, finance, administrative, and other services. The company was founded in 1851 and is headquartered in Melbourne, Australia.',
 'city': 'Melbourne',
 'phone': '61 1300 55 47 57',
 'state': 'VIC',
 'country': 'Australia',
 'companyOfficers': [],
 'website': 'https://www.bhp.com',
 'maxAge': 1,
 'address1': '171 Collins Street',
 'fax': '61 3 9609 3015',
 'industry': 'Other Industrial Metals & Mining',
 'address2': 'Level 18',
 'ebitdaMargins': 0.57556,
 'profitMargins': 0.4724,
 'grossMargins': 0.85721,
 'operatingCashflow': 32174000128,
 'revenueGrowth': 0.046,
 'operatingMargins': 0.50359,
 'ebitda': 37647998976,
 'targetLowPrice': 65,
 'recommendationKey': 'buy',
 'grossProfits': 56071000000,
 'freeCashflow': 20420874240,
 'targetMedianPrice': 66,
 'currentPrice': 49.81,
 'earningsGrowth': 1.888,
 'currentRatio': 1.694,
 'returnOnAssets': 0.20175,
 'numberOfAnalystOpinions': 3,
 'targetMeanPrice': 69.33,
 'debtToEquity': 37.428,
 'returnOnEquity': 0.42924,
 'targetHighPrice': 77,
 'totalCash': 17539000320,
 'totalDebt': 18251999232,
 'totalRevenue': 65410998272,
 'totalCashPerShare': 6.931,
 'financialCurrency': 'USD',
 'revenuePerShare': 25.85,
 'quickRatio': 1.373,
 'recommendationMean': 1.8,
 'exchange': 'NYQ',
 'shortName': 'BHP Group Limited',
 'longName': 'BHP Group Limited',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'BHP',
 'messageBoardId': 'finmb_256654',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 1.996,
 'beta3Year': None,
 'enterpriseToEbitda': 3.468,
 '52WeekChange': -0.03861898,
 'morningStarRiskRating': None,
 'forwardEps': 2.04,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 2530639872,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 17.766,
 'sharesShort': 8972739,
 'sharesPercentSharesOut': 0.0034999999,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.03771,
 'netIncomeToCommon': 20245000192,
 'trailingEps': 8.23,
 'lastDividendValue': 3.5,
 'SandP52WeekChange': -0.18622762,
 'priceToBook': 2.80367,
 'heldPercentInsiders': 5e-05,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1656547200,
 'shortRatio': 2.09,
 'sharesShortPreviousMonthDate': 1661904000,
 'floatShares': 2422299542,
 'beta': 0.740265,
 'enterpriseValue': 130572984320,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1654128000,
 'lastSplitFactor': '1121:1000',
 'legalType': None,
 'lastDividendDate': 1661990400,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 1.889,
 'priceToSalesTrailing12Months': 2.6663744,
 'dateShortInterest': 1664496000,
 'pegRatio': None,
 'ytdReturn': None,
 'forwardPE': 24.416668,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': 10140726,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 48.31,
 'regularMarketOpen': 49.87,
 'twoHundredDayAverage': 58.090237,
 'trailingAnnualDividendYield': 0.067273855,
 'payoutRatio': 0.8768,
 'volume24Hr': None,
 'regularMarketDayHigh': 50.25,
 'navPrice': None,
 'averageDailyVolume10Day': 3509500,
 'regularMarketPreviousClose': 48.31,
 'fiftyDayAverage': 52.8356,
 'trailingAnnualDividendRate': 3.25,
 'open': 49.87,
 'toCurrency': None,
 'averageVolume10days': 3509500,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 6.5,
 'exDividendDate': 1661990400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 49.4806,
 'currency': 'USD',
 'trailingPE': 6.0522485,
 'regularMarketVolume': 3979468,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 174410219520,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 3552081,
 'dayLow': 49.4806,
 'ask': 50.16,
 'askSize': 1100,
 'volume': 3979468,
 'fiftyTwoWeekHigh': 71.061554,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 6.02,
 'fiftyTwoWeekLow': 46.280106,
 'bid': 49.69,
 'tradeable': False,
 'dividendYield': 0.1345,
 'bidSize': 1300,
 'dayHigh': 50.25,
 'coinMarketCapLink': None,
 'regularMarketPrice': 49.81,
 'preMarketPrice': 50.2,
 'logo_url': 'https://logo.clearbit.com/bhp.com'}

In [67]:
# Gathering descriptive of Stock Company
stockDesc = stock.info['longBusinessSummary']

In [68]:
stockDesc

'BHP Group Limited operates as a resources company in Australia, Europe, China, Japan, India, South Korea, the rest of Asia, North America, South America, and internationally. The company operates through Copper, Iron Ore, and Coal segments. It engages in the mining of copper, silver, zinc, molybdenum, uranium, gold, iron ore, and metallurgical and energy coal. The company is also involved in mining, smelting, and refining of nickel; and potash development activities. In addition, it provides towing, freight, marketing and trading, marketing support, finance, administrative, and other services. The company was founded in 1851 and is headquartered in Melbourne, Australia.'

In [69]:
df = stock.get_dividends()

In [70]:
df1 = pd.DataFrame(df)

In [71]:
df1.head()

                           Dividends
Date
1987-04-24 00:00:00-04:00   0.103673
1988-04-22 00:00:00-04:00   0.117928
1988-10-28 00:00:00-04:00   0.059396
1989-04-21 00:00:00-04:00   0.058964
1989-06-09 00:00:00-04:00   0.060692

In [72]:
# Storing datetime value for 1 year ago from today
# Time Period in Years
## Change the value here to increase or decrease the data peroid wanted
timePeriod = 1

numDays = timePeriod * 365

startDate = dt.datetime.now() - dt.timedelta(days=numDays)
startDate = startDate.date()
print(startDate)

2021-10-18

In [73]:
nowDate = dt.datetime.now().date()
print(nowDate)

2022-10-18

In [74]:
stockHistory = stock.history(start=startDate, end=nowDate)

In [75]:
stockHistory.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-18 00:00:00-04:00,48.014464,48.465461,47.454892,48.448757,4368425,0.0,0.0
2021-10-19 00:00:00-04:00,48.490514,48.824584,48.131386,48.507217,4166981,0.0,0.0
2021-10-20 00:00:00-04:00,48.022814,48.532276,47.680390,48.448757,3648295,0.0,0.0
2021-10-21 00:00:00-04:00,46.886969,46.895323,46.402565,46.711582,4326387,0.0,0.0
2021-10-22 00:00:00-04:00,47.087413,47.563467,46.561251,47.371372,3865881,0.0,0.0
2021-10-25 00:00:00-04:00,47.663685,48.181497,47.488298,47.972702,3407840,0.0,0.0
2021-10-26 00:00:00-04:00,47.830722,47.830722,47.279504,47.521706,2245811,0.0,0.0
2021-10-27 00:00:00-04:00,47.003896,47.137526,46.502788,46.577953,2990492,0.0,0.0
2021-10-28 00:00:00-04:00,46.778397,47.087414,46.586306,46.861916,2646345,0.0,0.0
2021-10-29 00:00:00-04:00,46.252235,46.352458,45.650906,45.801239,3821377,0.0,0.0

In [76]:
# Data Cleaning - obtaining columns of interest
stockHistory = stockHistory[['High', 'Low', 'Close', 'Volume', 'Dividends']]

In [77]:
stockHistory.head()
#stockHistory.info()

                                High        Low      Close   Volume  Dividends
Date
2021-10-18 00:00:00-04:00  48.465461  47.454892  48.448757  4368425        0.0
2021-10-19 00:00:00-04:00  48.824584  48.131386  48.507217  4166981        0.0
2021-10-20 00:00:00-04:00  48.532276  47.680390  48.448757  3648295        0.0
2021-10-21 00:00:00-04:00  46.895323  46.402565  46.711582  4326387        0.0
2021-10-22 00:00:00-04:00  47.563467  46.561251  47.371372  3865881        0.0

In [78]:
stockBalanceSheet = stock.get_balance_sheet()

In [79]:
# Swap the table axis 
stockBalanceSheet = stockBalanceSheet.T

In [80]:
#stockBalanceSheet.keys()
stockBalanceSheet.head()

,Intangible Assets,Total Liab,Total Stockholder Equity,Minority Interest,Other Current Liab,Total Assets,Common Stock,Other Current Assets,Retained Earnings,Other Liab,...,Property Plant Equipment,Total Current Assets,Long Term Investments,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable,Capital Surplus
,,,,,,,,,,,,,,,,,,,,,
2022-06-30,172000000.0,4.640000e+10,4.495700e+10,3.809000e+09,8.579000e+09,9.516600e+10,4.638000e+09,501000000.0,4.033800e+10,1.420900e+10,...,6.129500e+10,2.866400e+10,2.206000e+09,4.358800e+10,303000000.0,5.689000e+09,1.321500e+10,4.935000e+09,5.360000e+09,NaN
2021-06-30,240000000.0,5.332200e+10,5.126400e+10,4.341000e+09,8.696000e+09,1.089270e+11,2.168000e+09,660000000.0,4.677900e+10,1.797800e+10,...,7.381300e+10,2.669300e+10,3.200000e+09,4.982700e+10,3000000.0,6.338000e+09,1.593400e+10,4.426000e+09,5.079000e+09,518000000.0
2020-06-30,377000000.0,5.355800e+10,4.786500e+10,4.310000e+09,3.880000e+09,1.057330e+11,2.168000e+09,175000000.0,4.339600e+10,1.528400e+10,...,7.236200e+10,2.147100e+10,4.948000e+09,4.629100e+10,36000000.0,3.730000e+09,2.086000e+10,4.101000e+09,5.767000e+09,518000000.0
2019-06-30,428000000.0,4.903700e+10,4.724000e+10,4.584000e+09,3.898000e+09,1.008610e+11,2.168000e+09,304000000.0,4.281900e+10,1.263600e+10,...,6.804100e+10,2.337300e+10,3.692000e+09,4.656500e+10,15000000.0,3.586000e+09,2.341200e+10,3.840000e+09,6.717000e+09,518000000.0

In [81]:
# Data Cleaning - obtaining columns of interest
stockCash = stockBalanceSheet[['Cash']]

In [82]:
stockCash

                    Cash

2022-06-30  1.723600e+10
2021-06-30  1.524600e+10
2020-06-30  1.342600e+10
2019-06-30  1.561300e+10

In [83]:
stockCashFlow = stock.cashflow

In [84]:
# Swap the table axis 
stockCashFlow = stockCashFlow.T

In [85]:
#stockCashFlow.head()
stockCashFlow.keys()

Index(['Investments', 'Change To Liabilities',
       'Total Cashflows From Investing Activities', 'Net Borrowings',
       'Total Cash From Financing Activities',
       'Change To Operating Activities', 'Net Income', 'Change In Cash',
       'Repurchase Of Stock', 'Effect Of Exchange Rate',
       'Total Cash From Operating Activities', 'Depreciation',
       'Other Cashflows From Investing Activities', 'Dividends Paid',
       'Change To Inventory', 'Change To Account Receivables',
       'Other Cashflows From Financing Activities', 'Change To Netincome',
       'Capital Expenditures'],
      dtype='object')

In [86]:
# Data Cleaning - obtaining columns of interest
stockIncome = stockCashFlow[['Net Income']]

In [87]:
stockIncome

              Net Income

2022-06-30  3.090000e+10
2021-06-30  1.130400e+10
2020-06-30  7.956000e+09
2019-06-30  8.306000e+09

In [88]:
stockCashIncome = pd.merge(stockCash, stockIncome, left_index=True, right_index=True)

In [89]:
stockCashIncome.head()

                    Cash    Net Income

2022-06-30  1.723600e+10  3.090000e+10
2021-06-30  1.524600e+10  1.130400e+10
2020-06-30  1.342600e+10  7.956000e+09
2019-06-30  1.561300e+10  8.306000e+09

In [99]:
from pytrends.request import TrendReq

In [100]:
pytrend = TrendReq(hl='en-US', tz=-480)

In [101]:
kw_list = ["christmas"]
pytrend.build_payload(kw_list, cat=0, timeframe='now 7-d', geo='SG', gprop='')

In [104]:
trends = pytrend.related_queries()

In [105]:
df_sg = trends["christmas"]["top"]